
@media (min-width:1400px){


    

}





@media (min-width:1200px) and (max-width:1399.98px){
    
}



@media (min-width:992px) and (max-width:1199.98px){

    #my_menu ul li a {
        display: inline-block;
        padding: 18px 18px;
        
    }

    #banner {
        
        height: 680px;
        background-position: center;
        
    }

    #banner .container h5 {
        font-size: 30px;
        color: white;
    }
    #banner .container h1 {
        text-transform: uppercase;
        font-size: 58px;
        color: white;
        letter-spacing: 15px;
    }

    .about_info h2 {
        color: #02918c;
        font-size: 40px;
        font-weight: 700;
    }

    .service_info h2 {
       
        font-size: 30px;
        
        font-weight: 700;
    }








    
}



@media (min-width:768px) and (max-width:991.98px){
    #my_menu ul li a {
        display: inline-block;
        padding: 15px 15px;
        font-size: 12px;
        text-transform: uppercase;
        color: white;
        transition: .6s;
    }
    #service{
        background: #f0f0e8;
        padding-bottom: 50px;
    }
    #banner {
        
        height: 580px;
        background-position: center;
        
    }
    #banner .container h5 {
        font-size: 22px;
        color: white;
    }
    #banner .container h1 {
        text-transform: uppercase;
        font-size: 50px;
        color: white;
        letter-spacing: 10px;
    }

    .service_info h2 {
       
        font-size: 30px;
        
        font-weight: 700;
    }

    .sub_container{ 
        width: 55%; 
    } 

    #about{
        padding-top:30px ;
    }

    #about .about_info{
        margin-bottom: 60px;
    }
    .about_item {
        text-align: center;
        margin-top: 50px;
        border-right: none;
    }
    











    


}
@media (min-width:576px) and (max-width:767.98px){
    #my_menu ul li a {
        display: inline-block;
        padding: 13px 13px;
       
    }

    #banner {
       
        height: 480px;
        background-position: center;
       
    }

    #banner .container h5 {
        font-size: 18px;
        color: white;
    }

    #banner .container h1 {
        font-size: 46px;  
        letter-spacing: 8px;
    }


    .about_info h2 {
        
        font-size: 30px;
        font-weight: 700;
    }
    .service_info h2 {
        padding-top: 25px;
        padding-bottom: 30px;
        font-size: 46px;
        color: #02918c;
        font-weight: 600;
    }

    #service{
        
          
         background: #f0f0e8;
    }

    .sub_container{
        
        
    }

    #about .about_info{
        margin-bottom: 30px;
    }
    .about_item {
        text-align: center;
        margin-top: 80px;
        border-right: none;
        
    }


    
}


@media (max-width:575.98px){
    #my_menu ul li a {
        display: inline-block;
        padding: 13px 13px;
       
    }

    #banner {
       
        height: 350px;
        background-position: center;
       
    }


    #banner .container a {
        display: inline-block;
        padding: 10px 10px;
       
    }
    #banner .container h5 {
        font-size: 14px;
        color: white;
    }
    .about_info h2 {
        color: #02918c;
        font-size: 30px;
        font-weight: 700;
    }

    #banner .container h1 {
        text-transform: uppercase;
        font-size: 30px;
        color: white;
        letter-spacing: 5px;
    }

    .service_info h2 {
      
        font-size: 20px;
       
        font-weight: 800;
    }
    #service{
        background: #f0f0e8;
       
         
         
        
    }
    .sub_container{
        width: 100%;
    }

    .about_item{
        border-right: none;
    }

    #my_work .my-work h2 {
        color: #02918c;
        font-size: 30px;
        font-weight: 800;
    }

    .work_item img{
        width: 100%;
    }
.about_item{
    width: 50%;
}

.service_item{
    width: 50%;
}
#about .about_info h2 {
	font-size: 35px;
	
}


#my_work .work_info h2 {
	font-size: 40px;
	font-weight: 700;
	
}
.contact_info h2 {
	
	font-size: 30px;
}
	


.work_img{
    width: 25%;
}

    
    
}