h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span{
    padding: 0;
    margin: 0;

}
a,a:hover{
    text-decoration: none;
}
ul,li,ol{
    list-style-type: none;
}

:root {
    --primary-font: "Josefin Sans", sans-serif;
    --scondary-font: "Roboto", sans-serif;


    --primary-Text-Color: #11161e;
    --primary-3d-Color: #151a32;
    --common-white: #ffffff;
    --primary-1st-Color: #ff6f61;
    --primary-2nd-Color: #ff5645;
    --Paragraph-Color: #444444;
    --Background-Color: #f1f1f1;
    --BG-color: #f1f3f4;
    --common-black: #000000;
  }
  body {
    font-family: var(--primary-font);
  }
  
  p {
    font-family: var(--scondary-font);
  }
  .product{
    position: relative;
    margin: 0 12px;
  }

  .product_thumb{
    background: #F1F3F4;
    padding: 43px 0;
  }
  .product_thumb img{
    margin: auto;
  }
  .floating_tag{
    color: var(--common-white);
    position: absolute;
    top: 20px;
    left: 30px;
    background: var(--primary-1st-Color);
    transform: rotate(90deg);
    transform-origin: left;
    padding: 5px 30px;
  }

  .product_action{
    position: absolute;
    right: 20px;
    top: 30px;
    visibility: hidden;
    transition: .5s;
  }
  .product:hover .product_action{
    visibility: visible;
  }
  .product_action ul li{
    margin-bottom: 10px;
  }
  .product_action ul li a{
    
width: 36px;
height: 36px;
display: inline-block;

/* Comon Colot */

background: red;
/* 22 */

box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
border-radius: 50%;
line-height: 36px;
text-align: center;
  }


  /* menu section css start */

  #my_menu ul li a{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */


/* Text Color */

color: #11161E;
padding: 15px 15px;
display: inline-block;
  }

  .nv_icons ul li button{

    transform: matrix(-1, 0, 0, 1, 0, 0);
    padding: 12px 12px;
    background: none;
    border: none;

  }




  /* menu section css end */





  /* banner section css start */
  
#banner{
    padding: 0 60px;
    margin-bottom: 60px;
}


.banner_slider_item{
    background-image: url(../images/banner_img.jpg);
    height: 800px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 9999999;
}

.banner_slider_item::after{
    position: absolute;
    content: "";
    inset: 0;
    
background: linear-gradient(90deg, rgba(2, 5, 19, 0.7) 0%, rgba(2, 4, 17, 0.617485) 21.81%, rgba(1, 4, 15, 0.548445) 37.92%, rgba(1, 3, 13, 0.48336) 50.29%, rgba(0, 0, 0, 0) 100%);
   

    z-index: -1;
}

.banner_slider_item h2{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 74px;
/* or 116% */


/* Comon Colot */

color: var(--common-white);
margin-top: 20px;
margin-bottom: 20px;



}
.banner_slider_item h6{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* or 156% */


/* Comon Colot */

color: #FFFFFF;
}

.banner_slider_item p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


/* Comon Colot */

color: #FFFFFF;
margin-bottom: 20px;


}
.banner_slider_item h6{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* or 156% */


/* Comon Colot */

color: #FFFFFF;

}

.banner_slider_item h2{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 74px;
/* or 116% */


/* Comon Colot */

color: #FFFFFF;

}
.banner_slider_item p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


/* Comon Colot */

color: #FFFFFF;
}


#banner .banner_slider_item button{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 28px;
/* or 175% */

text-align: center;

/* Comon Colot */

color: #FFFFFF;
background: red;

}

/* banner section css end */


/* banner down section css start */


#banner_down .banner_down_img{
    position: relative;
}
#banner_down .banner_down_img .overlay{
    position: absolute;
    top:20px;
    bottom: 20px;
    right: 28px;
    left: 28px;
    background-color: rgba(1, 3, 13, 0.4834);
    visibility: hidden;
    transition: .5s;
    transform: scale(0) rotate(50deg);
}
#banner_down .banner_down_img:hover .overlay{
    visibility: visible;
    
    transform: scale(1) rotate(0);
    
}


/* new product section css strat */

#new .product_info p{
    color: var(--primary-Text-Color);
}




/* new product slider ection css strat */
#new .container h2{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
/* identical to box height, or 128% */

text-align: center;

/* Text Color */

color: #11161E;
margin-bottom: 20px;
}
.product_slider_icon{

    
        width: 30px;
        height: 50px;
        
        
        /* 3d primary color */
        
        background:red;
        color: var(--common-white);
        text-align: center;
        line-height: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
        
          
}
.product_info h3 a{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

text-align: center;

/* Text Color */

color: #11161E;
}
.product_slider_icon.fa-chevron-left{
    left: 0;
}
.product_slider_icon.fa-chevron-right{
    right: 0;
}


/* new product section css end */



/* new product section css end */



/* new product down section css start */


#new_product_down{
    background: #A6AAB7;
    margin-top: 60px;
}

#new_product_down .new_product_down_info h2{
    padding-top: 50px;
    padding-bottom: 20px;
    color: var(--common-white);
}
#new_product_down .new_product_down_info p{
    padding-bottom: 30px;
    color: var(--common-white);
}
#new_product_down .new_product_down_info button{
    background: red;
    color: var(--common-white);
    padding: 15px 15px;
}



/* new product down section css end */


/* best product section css start */
#best_product h2{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
/* identical to box height, or 128% */

text-align: center;

/* Text Color */

color: #11161E;
}

#best_product{
    margin-top: 60px;
    text-align: center;
}

#best_product h2{
    margin-bottom: 40px;
}

#best_product p{
    color: var(--primary-Text-Color);
}


.product_down{
    position: relative;
}

.product_down:hover .product_action{
    visibility: visible;
}
.product_down .floating_tag{
    color: var(--common-white);
    position: absolute;
    top: 20px;
    left: 30px;
    background: var(--primary-1st-Color);
    transform: rotate(90deg);
    transform-origin: left;
    padding: 5px 30px;

}







/* bst product section css end */



/* deals section css start */

#deals{
    margin-bottom: 60px;
    
}
#deals h3{
    margin-top:50px ;
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
/* identical to box height, or 128% */

text-align: center;

/* Text Color */

color: #11161E;

margin-bottom: 10px;
}

#deals .deals_count{
    background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(21, 26, 50, 0.1);
border-radius:4px;




}

.deals_count_item{
    margin-bottom: 30px;
}

#deals p{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */



/* Paragraph Color */

color: #444444;
}

#deals span{
    color: red;
    font-size: 60px;
}



.discount_product{
    background: #A6AAB7;
    
}

#deals .product_info{
    padding-right: 120px;
}
#deals .product_info h6{
    margin-top: 20px;
}

#deals .product_info p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


/* Paragraph Color */

color: #444444;
margin-bottom: 15px;
}
#deals .product_info h2{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
/* identical to box height, or 128% */


/* Text Color */

color: #11161E;
margin-bottom: 15px;
}
#deals .product_info h6{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */


/* Text Color */

color: #11161E;

}
#deals .product_info button{
    background: #151A32;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 70px;
    color: var(--common-white);
}



/* deals section css end */




/* special offer section css strat */


.special_offer_info{
    background:#F1F3F4 ;
}

.special_offer_info{
    
    background: #F1F3F4;

    
}

.special_offer_info h6{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */


/* Paragraph Color */

color: #444444;
padding-top: 40px;
}
.special_offer_info h3{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
/* or 128% */


/* Text Color */

color: #11161E;
margin-bottom: 15px;

}
.special_offer_info p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


/* Paragraph Color */

color: #444444;
margin-bottom: 30px;
}

.special_offer_info button{
    background: red;
    padding: 12px 20px;
    border: 1px solid grey;
    margin-bottom: 50px;
    color: var(--common-white);
}

.special_video{
   
}





/* special offer section css end */

/* newssection css start */
.news_item{
    
}
#news .news_info h5{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


/* Text Color */

color: #11161E;
margin-top: 2

0px;
}

#news h2{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
/* identical to box height, or 128% */

text-align: center;

/* Text Color */

color: #11161E;
margin-top: 40px;
margin-bottom: 30px;

}

#news .news_info p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


/* Paragraph Color */

color: #444444;
margin-bottom: 20px;
}



/* news section css end */


#service{
    margin-top: 80px;
    background: #FFFFFF;
    margin-bottom: -50px;
}
.service_item{
    border-right: 1px solid grey;
    padding: 20px 20px;
    background-color:#FFFFFF ;
}
.service_item:nth-child(4){
    border-right: none;
}
.service_item h5{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


/* Text Color */

color: #11161E;
}
.service_info{
    margin-left: 10px;
}
.service_item p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */


/* Paragraph Color */

color: #444444;
}




/* footer secion css strat */
#footer{
    background-color: var(--common-black);
    padding-top: 60px;
}

#footer .footer_header{
    border-bottom: 1px solid var(--primary-Text-Color);
    padding-bottom: 40px;
}

#footer .footer_down h3{
    color: var(--common-white);
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 34px;
/* identical to box height, or 142% */


}
.footer_down{
    padding-top: 40px;
}

#footer .footer_down a,
p{
    color: var(--common-white);
}
#footer .footer_down i{
    
}



/* footer section css end */